<?php

// This is a sample config file. Copy to time-temp.inc.php
//  and modify the UPPERCASE bits.

$courtesy_of_phonetic = "YOUR COMPANY NAME HERE"; // spell this phonetically (i.e. get hub dot com)
$wunderkey = "YOUR_WEATHERUNDERGROUND_API_KEY";
$url = "http://api.wunderground.com/api/";
$feature = "/conditions";

// TODO: replace the 1212 number(s) with YOUR Twilio number(s)
// and the appropriate cities/states for each $path .

if (array_key_exists('To', $_POST) && $_POST['To'] == "+19995551212") {
    $path = "/q/CA/San_Francisco.json";
} elseif (array_key_exists('To', $_POST) && $_POST['To'] == "+19997771212") {
    $path = "/q/HI/Honolulu.json";
} else {
    $path = "/q/NY/New_York.json";
}
